.custom-nav-bar {
  background-color: hotpink;
  /* margin: 10px 10% 0px 10%; */
}

.row-header {
  margin: 0px auto;
  padding: 0px;
}

.row-content {
  margin: 0px auto;
  padding: 25px 50px 25px 50px;
  border-bottom: 2px ridge;
  min-height: 340px;
}

.footer {
  background-color:hotpink;
  color: aliceblue;
  margin-top: 100px;
  margin: 100px 0px 0px 0px;
  padding: 60px 0px 60px 0px;
}

.jumbotron {
  padding: 70px 15px 35px 15px;
  margin: 0px auto;
  background: #ff80c1;
  color: whitesmoke;
}

.whitePink {
  background-color: pink;
  padding-bottom: 10px;
  margin: 0px 0px 0px 0px;
  border-left: solid 2px hotpink;
}

.yellow {
  background-color: #ffff66;
  max-height: 35px;
  margin: 0px auto;
  border-left: solid 2px hotpink;
}

.box {
  border: solid 3px palevioletred;
  margin-bottom: 7%;
}

.center {
  align-content: center;
  text-align: center;
}

body {
  background-color: #ffcce6;
}

td {
  margin: 100px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.h4center {
  margin-top: 50px;
  margin-bottom: 25px;
  color: crimson;
  border-bottom: ridge crimson;
}