.custom-nav-bar {
  background-color: #de5d83;
  /* margin: 10px 10% 0px 10%; */
}

.row-header {
  margin: 0px auto;
  padding: 0px;
}

.row-content {
  margin: 0px auto;
  padding: 25px 50px 25px 50px;
  border-bottom: 2px ridge;
  min-height: 340px;
}

.footer {
  background-color:#ee6d8a;
  color: aliceblue;
  margin-top: 100px;
  margin: 100px 0px 0px 0px;
  padding: 60px 0px 60px 0px;
}

.jumbotron {
  padding: 70px 15px 35px 15px;
  margin: 0px auto;
  background: #ee6d8a;
  color: whitesmoke;
}

.whitePink {
  background-color: #f4c2c2;
  padding-bottom: 10px;
  margin: 0px 0px 0px 0px;
  border-left: solid 2px #f6909d;
}

.yellow {
  background-color: #f6909d;
  max-height: 35px;
  margin: 0px auto;
  border-left: solid 2px #f6909d;
}

.box {
  border: solid 3px #f6909d;
  margin-bottom: 7%;
}

.center {
  align-content: center;
  text-align: center;
}

body {
  overflow-x: hidden !important;
  /* background-color: #FFB6C1; */
  background-color: #202020;
  background-image: url(https://i.pinimg.com/736x/b6/b1/5d/b6b15da93c31849577f9c63d3b5c9b58.jpg);
  background-repeat: repeat;
  background-position: center;
  background-size: 100%;
  margin: 0px auto;
  padding: 0px;
}

.pink {
  background-color: #FFB6C1;
}

td {
  margin: 100px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.h4center {
  margin-top: 50px;
  margin-bottom: 25px;
  color: crimson;
  border-bottom: ridge crimson;
}

@media screen and (max-width: 667px) {
  body {
      overflow-x: hidden !important;
  }
  .container {
      max-width: 100% !important;
      overflow-x: hidden !important;
  }
}

/* .btn-info {
  margin-left: 10px;
  padding: 0px;
}

.btn-danger {
  margin-right: 10px;
  padding: 0px;
} */

.blue {
  background-color: #99badd;
}

.blue .custom-nav-bar{
  background-color: #0073cf;
}

.blue .jumbotron {
  padding: 70px 15px 35px 15px;
  margin: 0px auto;
  background: #6488ea;
  color: whitesmoke;
}

.blue .footer {
  background-color:#0073cf;
  color: aliceblue;
  margin-top: 100px;
  margin: 100px 0px 0px 0px;
  padding: 60px 0px 60px 0px;
}

.blue .h4center {
  margin-top: 50px;
  margin-bottom: 25px;
  color: #4682b4;
  border-bottom: ridge #4682b4;
}

.blue .box {
  border: solid 3px#73c2fb;
  margin-bottom: 7%;
}

.blue .yellow {
  background-color:#73c2fb;
  max-height: 35px;
  margin: 0px auto;
  border-left: solid 2px#73c2fb;
}

.blue .whitePink {
  background-color: #b0e0e6;
  padding-bottom: 10px;
  margin: 0px 0px 0px 0px;
  border-left: solid 2px #b0e0e6;
}

